<h1 class="main-heading text-center">User Profile</h1>

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <tr>
      <th>Photo</th>
      <td>
        <% if @user.photo.attached? %>
          <%= image_tag @user.photo, class: "img-fluid", alt: "User Photo" %>
        <% else %>
          No photo available
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Username</th>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <th>Age</th>
      <td><%= @user.age %></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><%= @user.gender %></td>
    </tr>
    <tr>
      <th>School</th>
      <td><%= @user.school %></td>
    </tr>
    <tr>
      <th>Major</th>
      <td><%= @user.major %></td>
    </tr>
    <tr>
      <th>About Me</th>
      <td><%= @user.about_me %></td>
    </tr>
  </table>
</div>

<div class="text-center mt-4">
  <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
</div>
