<h1>User Profile</h1>

<table class="table table-bordered">
  <tr>
    <th>Username</th>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <th>Age</th>
    <td><%= @user.age %></td>
  </tr>
  <tr>
    <th>Gender</th>
    <td><%= @user.gender %></td>
  </tr>
  <tr>
    <th>School</th>
    <td><%= @user.school %></td>
  </tr>
  <tr>
    <th>Major</th>
    <td><%= @user.major %></td>
  </tr>
  <tr>
    <th>About Me</th>
    <td><%= @user.about_me %></td>
  </tr>
</table>

<a href="<%= edit_user_path(@user) %>" class="icon-button">
  <span>Edit Profile</span>
</a>

<div class="bottom-bar">
  <a href="<%= dashboard_user_path(@user) %>" class="icon-button">
    <span>Dashboard</span>
  </a> 
  <a href="/chat" class="icon-button">
    <span>Chat</span>
  </a>
  <a href="/match" class="icon-button">
    <span>Match</span>
  </a>
  <a href="/fitness" class="icon-button">
    <span>Fitness</span>
  </a>
  <%= link_to "log out", logout_path %>
</div>