<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Jimmy Gym Buddy Finder" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_importmap_tags %>
  <%= yield :head %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <%= link_to "Jimmy", root_path, class: 'navbar-brand main-heading' %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <div class="navbar-nav">
      <% if session[:user_id] %>
        <%= link_to "Dashboard", dashboard_user_path, class: "nav-item nav-link btn btn-outline-primary me-2" %>
        <%= link_to "Profile", profile_user_path(@user), class: "nav-item nav-link btn btn-outline-primary me-2" %>
        <%= link_to "Log Out", logout_path, method: :delete, class: "nav-item nav-link btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
</nav>

  <%= render partial: 'shared/display_flash' if flash.any? %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
